                                                THEORYTICAL QUESTIONS

In [3]:
#Q.1>> What are data structures, and why are they important?
# ans>>  Data structures are ways of organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently
#        data structure important for doing a task with more efficiently ,perform oparetation more quickly
#        data structures are essential because they make programs more efficient, flexible,
#        and scalable by optimizing operations on data and ensuring effective memory usage.

In [5]:
#Q.2>> Explain the difference between mutable and immutable data types with examples.
#ans>>   in mutable datatype we can modify,replace,its data according to use,ex:when we made our identity card we can change our address,
#        contact number but when we need a biometric card we use immutable datatypes for never changing our fingerprints,eye retina
#        because immutable datatype cant modify or replace with other data

In [7]:
#Q.3>>What are the main differences between lists and tuples in Python?
#ans>>  main difference between list and tuple is mutability, we can change/modify replace in list according to use but we can't do in tuples

In [9]:
#Q.4>> Describe how dictionaries store data.
#ans>> in dictionaries data stored in pair of key and value

In [11]:
#Q.5>> Why might you use a set instead of a list in Python?
#ans>>   set gives us unique result it dosent allow duplicate element ,that's why we set instead of a list

In [ ]:
#Q.6>> What is a string in Python, and how is it different from a list?
#ans.>> string is a sequence of character and manipulate textual data,string is different from list because in string is immutable datatypes
#       string can store only sequence of character but list can store every datatypes

In [ ]:
#Q.7>> How do tuples ensure data integrity in Python?
#ans.>> In Python, tuples ensure data integrity because they are immutable.

In [103]:
#Q.8>> What is a hash table, and how does it relate to dictionaries in Python?
#ans.>> has table means a immutable datatypes and in dictionaries store data in paire of key and value ,and its key is a immutable data support
#       here we use has table

In [105]:
#Q.9>>  Can lists contain different data types in Python?
#ans.>> yes list cantain different/every datatypes so,list called a hetroginus

In [ ]:
#Q.10>> Explain why strings are immutable in Python?
#ans.>>Strings are immutable in Python to improve memory efficiency, ensure data integrity,
#       allow optimizations, and provide more predictable and secure behavior in programs.

In [ ]:
#Q13  How do sets handle duplicate values in Python?
#ans.>> in set duplicate values are skiped

                                                PRACTICAL QESTIONS

In [15]:
#Q1.> Write a code to create a string with your name and print it.
a="saurabh kumar"
print(a)

saurabh kumar

In [17]:
#Q2.> Write a code to find the length of the string "Hello World".
b="Hello World"
print("the length of",b,"is",len(b))

the length of Hello World is 11

In [19]:
#Q3.> Write a code to slice the first 3 characters from the string "Python Programming".
c="python programing"
print(c[:3])

pyt

In [25]:
#Q4.> Write a code to convert the string "hello" to uppercase.
d="hello"
print(d.upper())

HELLO

In [29]:
#Q5.> Write a code to replace the word "apple" with "orange" in the string "I like apple".
e="i like apple"
e.replace("apple","orange")

'i like orange'

In [43]:
#Q6.> Write a code to create a list with numbers 1 to 5 and print it.
f=[1,2,3,4,5]
print(f)

[1, 2, 3, 4, 5]

In [47]:
#Q7.> Write a code to append the number 10 to the list [1, 2, 3, 4].
g=[1,2,3,4]
g.append(10)
print(g)

[1, 2, 3, 4, 10]

In [51]:
#Q8.> Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
h=[1,2,3,4,5]
h.remove(3)
print(h)

[1, 2, 4, 5]

In [53]:
#Q9.> Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
i=['a','b','c','d']
print(i[1])

b

In [55]:
#Q10.> Write a code to reverse the list [10, 20, 30, 40, 50]
lis=[10,20,30,40,50]
print(lis[::-1])

[50, 40, 30, 20, 10]

In [57]:
#Q11.>. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tupl=(10,20,30)
print(tupl,type(tupl))

(10, 20, 30) <class 'tuple'>

In [59]:
#Q12.> Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruit=("apple","banana","cherry")
print(fruit[0])

apple

In [63]:
#Q13.> Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
tup2=(1,2,3,2,4,2)
print ("there are 2,",tup2.count(2),"times in tup2")

there are 2, 3 times in tup2

In [71]:
#Q14.> Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup1=('dog','cat','rabbit')
print(tup1.index('cat') )

1

In [75]:
#Q15.> Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tupl2=('apple','orange','banana')
if "banana" in tupl2:
    print("yes")

yes

In [77]:
#Q16.> Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [83]:
#Q17.> Write a code to add the element 6 to the set {1, 2, 3, 4}.
set2={1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

In [85]:
#Q18.> Write a code to create a tuple with the elements 10, 20, 30 and print it.
tupl3=(10,20,30)
print(tupl3)

(10, 20, 30)

In [87]:
#Q19.>. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tupl4=('apple','banana','cherry')
print(tupl4[0])

apple

In [93]:
#Q20.>  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup3=(1,2,3,2,4,2)
print ("there are 2,",tup3.count(2),"times in tup3")

there are 2, 3 times in tup3

In [95]:
#Q21.>. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup1=('dog','cat','rabbit')
print(tup1.index('cat'))

1

In [97]:
#Q22.> Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tupl2=('apple','orange','banana')
if "banana" in tupl2:
    print("yes")

yes

In [99]:
#Q23.> Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [101]:
#Q24.>Write a code to add the element 6 to the set {1, 2, 3, 4}.
set2={1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}